
.parent{
    background-color:#73FF00;
    padding:20px 10px ;
  
  }
  .child{
    background-color: #C45A19;
    padding:20px 10px ;
  }
  .child input[type='text'] {
    padding:10px;
    border:1px solid rgb(73, 73, 238);
  }